<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
    <div style="text-align:center;">
        <h1>Welcome User</h1> <br>
    </div>
        <ul class="nav nav-pills nav-fill" style="    background-color: lavender;
        margin: 10px;
        border-radius: 10px;">
                <li class="nav-item">
                  <a class="nav-link active" href="/" style="font-weight: bold">Account summary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/addBeneficiary" style="font-weight: bold">Add Beneficiary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-weight: bold">Fund Transfer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/settings" tabindex="-1" aria-disabled="true" style="font-weight: bold">Settings</a>
                </li>
              </ul>
    <div style="position: absolute;right: 10px;;top: 0px;">
        <a href="" style="text-align: right"><h5>Logout</h5></a>
        <p>Last login 21 Jul 11:40 AM</p>
    </div>
    <div style="background-color: lavender; margin: 10px; border-radius:8px; width: 30%; padding: 5 px; display: inline-block;">
        <ul>
            <li>
                <h5>Account Number:</h5>
            </li>
            <li>
                    <h5>Bank: </h5>
                </li>
            <li>
                <h5>Branch: </h5>
            </li>
            <li>
                    <h5>Balance: <a href="">Click here</a> for Current Balance</h5>
            </li>
            <li>
                    <h5><a href="/transactions">Click here for Last 10 transactions</a></h5>
            </li>
  
        </ul>
    </div>
</body>
</html>