<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>settings</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
<div style="text-align:center;">
        <h1>My Profile</h1> <br>
    </div>
<ul class="nav nav-pills nav-fill" style="    background-color: lavender;
        margin: 10px;
        border-radius: 10px;">
                <li class="nav-item">
                  <a class="nav-link active" href="/" style="font-weight: bold">Account summary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/addBeneficiary" style="font-weight: bold">Add Beneficiary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-weight: bold">Fund Transfer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/settings" tabindex="-1" aria-disabled="true" style="font-weight: bold">Settings</a>
                </li>
              </ul>
	<div style="position: absolute;right: 10px;;top: 0px;">
        <a href="" style="text-align: right"><h5>Logout</h5></a>
    </div>
	<!--/*<div style="text-align:center; background-color: lavender;margin: 10px;border-radius: 10px; height: 43px;">
        <h1>My Profile</h1> <br>
    </div>*/-->
	<form class="container">
	
	  <div class="form-row">
		<div class="form-group col-md-6" style="padding-left: 0px !important;padding-right: 0px; width: 25%; display: inline-block; float: left;">
		  <label for="inputEmail4">First Name</label>
		  <input type="email" class="form-control" id="inputEmail4" placeholder="">
		</div>

		<div class="form-group col-md-6;" style="width: 20%; display: inline-block; float: left; padding-left: 10px;">
		  <label for="inputPassword4">Last Name</label>
		  <input type="password" class="form-control" id="inputPassword4" placeholder="">
		</div>
	  </div>
  
	  <div class="form-group" style="width: 40%;">
		<label for="inputAddress">Email ID</label>
		<input type="text" class="form-control" id="inputAddress" placeholder="">
	  </div>
  
	  <div class="form-group" style="width: 20%;">
		<label for="inputAddress">Mobile</label>
		<input type="text" class="form-control" id="inputAddress" placeholder="+91">
	  </div>
  
	  <div class="form-group" style="width: 40%;">
		<label for="inputAddress2">Address</label>
		<input type="text" class="form-control" id="inputAddress2" placeholder="">
	  </div>
  
	  <div class="form-row" style="width: 35%;">
		<div class="form-group col-md-6" style=" padding-left: 0px;">
		  <label for="inputCity">City</label>
		  <input type="text" class="form-control" id="inputCity">
		</div>

		<div class="form-group col-md-4" style="width: 50%; float: none; padding-left: 0px;">
		  <label for="inputState">State</label>
		  <select id="inputState" class="form-control">
			<option selected>Choose...</option>
			<option>Andhra Pradesh</option>
			<option>Telangana</option>
		  </select>
		</div>

		<div class="form-group col-md-2" style="width: 30%;  padding-left: 0px; float: none;">
		  <label for="inputZip">Zip</label>
		  <input type="text" class="form-control" id="inputZip">
		</div>
	  </div>

	  <div style="">
		<div >
		  <input type="checkbox">
		  <label>
			Check me out
		  </label>
		</div>
	  </div>
	  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
</body>
</html>
