{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> {% endcomment %}
  </head>
  <body>
    <div class="container">
      <h2 class="text-center my-5 text-uppercase">Signup</h2>
      <div class="row justify-content-center">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width:28em">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <h4 class="text-center my-2">Primary details</h4>
              <div class="form-group">
                <label for="exampleInputFname">First Name</label>
                <input type="text" name="fname" placeholder="First Name" class="form-control" id="exampleInputFname" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputLname">Last Name</label>
                <input type="text" name="lname" placeholder="Last Name" class="form-control" id="exampleInputLname" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" name="username" placeholder="UserName" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input type="email" name="email" placeholder="Email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword" aria-describedby="emailHelp">
              </div>
              <h4 class="text-center my-2">Banking details</h4>
              <hr>
              <div class="form-group">
                <label for="exampleInputDOB">DOB</label>
                <input type="date" name="dob" placeholder="Date of birth" class="form-control" id="exampleInputDOB" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPhone">Phone</label>
                <input type="number" name="phone" placeholder="Phone" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Address</label>
                <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="inputBank">Bank</label>
                <select id="inputBank" name="bank" class="form-control">
                  <option selected>Choose bank</option>
                 {% for b in banks %}
                  <option value="{{b.bank_name}}">{{b.bank_name}}</option>
                 {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputBranch">Branch</label>
                <select id="inputBranch" name="branch" class="form-control">
                  <option selected>Choose branch</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      // function choosebranch(){
      //   var bank = document.getElementById('inputBank').value;
      //   console.log(bank)
      // }
      $(document).ready(function() { 
          $("#inputBank").change(function() { 
            var bank = $("#inputBank").val();
            $('#inputBranch').html('<option selected>Choose branch</option>')
            $.ajax({
                url: "http://127.0.0.1:8000/getbranches?bank="+bank,  
                success: function(res) {
                  res.forEach(item => {
                    $('#inputBranch').append(`<option value="${item.id}">${item.bank_branch}</option>`);  
                  });
                  }
                });
          }); 
      }); 
    </script>
  </body>
</html>